<ion-view view-title="Demo">
	<ion-nav-buttons side="right">
    	<button class="drop-btn" ng-click="reset()"></button>
    </ion-nav-buttons>
  <ion-content>
  		<!--<div class="row gallery">
         	<div class="col col-50" ng-repeat="img in gallery">
                <img src="{{img.src}}">
            </div>
        </div>-->
        
		<div class="row cat-details">
        	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            <div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            	<div class="col col-50">
            	<div class="cat-item">
                	<img src="img/cat-img1.jpg" alt=""  />
                    <div class="cat-title clearfix">
                    	<h4>The Clock Tower</h4>
                        <h5>5km</h5>
                    </div>
                </div>
            </div>
            
           
            
           
           
        </div>
  </ion-content>
</ion-view>
